body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

*{
    color: white;
}

.login{
    background-image: linear-gradient(to bottom, #D81B60,#C2185B,#880E4F) ;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    
   }

   .b{
    background-color: black;
    color: white;
    text-decoration: none;
    
}

.b:hover{
    text-decoration: none;
    background-color: white;
    color: black;
    transform: scale(1.05);
 
}

   .head{
       font-size: 3vw;
   }

   .email{
       height: 40px;
       width: 500px;
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-left: auto;
       margin-right: auto;
       margin-top: 32px;
   }
   .password{
    height: 40px;
    width: 500px;
    padding-top: 16px;
    padding-bottom: 0px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome{
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 5vh;
    display: flex;
    text-align: left;
}


.intro{
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: 0vh;
    font-size: 20px;
    display: flex;
    text-align: left;
}

.desc{
display: flex;
flex-direction: row;
align-items: center;
}

 