.features{
    padding: 10% 7%;
    color: #37474F;
    
}

.featureicon{
    position: absolute;
    top: -15px;
    left: 100px;
    transform: scale(2.5);
    background-image: linear-gradient(to bottom, #D81B60,#C2185B,#880E4F) ;
    transition: 0.2s;
}
.featureicon:hover{
    transform: scale(2.8);
}

.icon{
    
    color: #D81B60;
    transform: scale(3.5);
    margin: 10px;
    transition: 0.25s;
}
.icon:hover{
    transform: scale(4);
    color: #880E4F;
    
}

p{
    padding: 10%;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}


