.footer{
    padding: 0 20% 5%;
    background-color: black;
    }

h1{
    text-align: center;
    padding-top: 5%;
    font-family: 'Pacifico', cursive;
}

.footertext{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0;
}

.icon{
    position: absolute;
    left: 75px;
    margin-top: 35%;
    transform: scale(2.25);
    transition: 0.25s; 
}

.icon:hover{
    transform: scale(2.7);
}

