.webname{
    background-image: linear-gradient(to bottom, #C51162, #880E4F) ;
    color: white;
    font-family: sans-serif;
    height: 100vh;

}

.head{
    position: absolute;
    margin-top: 40vh;
    margin-left: 40vh;

}

.header
{
    font-size: 70px;
}