body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.webname{
        background-image: linear-gradient(to bottom, #D81B60,#C2185B,#880E4F) ;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
        /* background-image: linear-gradient(to bottom, #7B1FA2,#6A1B9A,#4A148C) ; */
        text-align: center;
        color: #fff;
        height: 95vh;
}

.header{
    font-weight: bold;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    /* margin-bottom: 10vh; */
    margin-left: 50px;
    color: white;
}


.button{
    margin-bottom : 0px;
    padding-bottom: 0px;
    
}

.button:hover{
    color: #212121;
    transform: scale(1.1);
    font-weight: bold;
    text-decoration: underline;
}
 
.icon{
    
    color: #D81B60;
    transform: scale(3.5);
    margin: 10px;
    transition: 0.25s;
}
.icon:hover{
    transform: scale(4);
    color: #880E4F;
    
}

.cardtext{
    margin-top: 3px;
    font-size: 15px;
    text-align: left;
    color: #37474F;

}

.cardtitle{
    font-weight: bold;
    text-align: left;
    position: absolute;
    left: 43px;
    top: 15px;

}

.card1 {
    border-radius: 20px;
    background-color: black;
    position: absolute;
    right: 100px;
    top: 135px;
    
}
.card2 {
    border-radius: 20px;
    background-color: black;
    position: absolute;
    right: 100px;
    top: 360px;
}

.cbutton1 {
    color: white;
    border-color: white;
    background-color: transparent;
    left: 34px;
    top: 120px;
    padding: 5px;
    padding-right: 10px;
    position: absolute;
    transform: scale(0.85);
}

.cbutton2 {
    color: white;
    border-color: white;
    background-color: transparent;
    left: 150px;
    top: 120px;
    padding: 5px;
    padding-right: 10px;
    position: absolute;
    transform: scale(0.85);
}

.cbutton3 {
    color: white;
    border-color: white;
    background-color: transparent;
    left: 40px;
    top: 120px;
    padding: 5px;
    padding-right: 10px;
    position: absolute;
    transform: scale(0.85);
}

.cbutton1:hover{
    border-color: white;
    color: black;
    transform: scale(0.9);
    background-color: white;
    font-weight: bold;

}

.cbutton2:hover{
    border-color: white;
    text-decoration: none;
    color: black;
    transform: scale(0.9);
    background-color: white;
    font-weight: bold;

}

.cbutton3:hover{
    border-color: white;
    text-decoration: none;
    color: black;
    transform: scale(0.9);
    background-color: white;
    font-weight: bold;

}
