.webname{
        background-image: linear-gradient(to bottom, #D81B60,#C2185B,#880E4F) ;
        text-align: center;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        height: 95vh;
    
    }


.head{
    position: absolute;
    margin-top: 10vh;
    margin-left: 40vh;

}

.header
{
    font-size: 70px;
    margin-bottom: 10vh;
    color: black;
}


.button{
    margin-bottom : 0px;
    padding-bottom: 0px;
    
}

.button:hover{
    color: #212121;
    transform: scale(1.1);
    font-weight: bold;
    text-decoration: underline;
}
 
