.navbrand{
    font-weight: bold;

}

.navitem{
    transition: 0.20s;
}
.navitem:hover{
    transform: scale(1.1);
    font-weight: bold;
    text-decoration: underline;
}

img{
    transform: scale(0.8);
}