.navbrand{
    font-weight: bold;
    color: #37474F;

}

.navibar {
    background-color: black;
}

.navitem{
    transition: 0.20s;
}
.navitem:hover{
    transform: scale(1.1);
    font-weight: bold;
    text-decoration: underline;
}

img{
    transform: scale(0.8);
}
